name: Dev Release
# Upload latest dev build artifact, only run on main branch

on:
  push:
    branches:
      - main
    paths:
      # dirs
      - '.github/**/*.yml'
      - 'CMake/*.cmake'
      # TODO: set ci for those
      # - 'contrib/**'
      - 'libs/**/*.dll'
      - 'src/**'
      # top-level files
      - 'CMakeLists.txt'
  # NOTE: For DEBUG Only!!!
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: experimental-release
  cancel-in-progress: true

jobs:
  make-release:
    permissions: write-all
    strategy:
      matrix:
        include:
          - os: windows-2022
            platform: x64
            config: Release
          - os: windows-2022
            platform: Win32
            config: Release

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.platform }}-${{ matrix.config }}
    steps:
    - uses: actions/checkout@v4

    - name: Set Environment Variable
      run: |
        echo "JOB_NAME=${{ matrix.platform }}-${{ matrix.config }}" >> $GITHUB_ENV
        echo "GIT_HASH=$(git rev-parse --short "$GITHUB_SHA")" >> $GITHUB_ENV

    - name: Generate CMake Projects
      run: |
        cmake -S . -B build -A ${{ matrix.platform }} -DCMAKE_INSTALL_PREFIX=install

    - name: Build CMake Projects
      run: cmake --build build --config Release
    - name: Install CMake Projects
      run: cmake --install build --config Release
    - name: Add git hash
      run: echo "" >> install/git-hash+${{ env.GIT_HASH }}.txt

    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.6
      with:
        type: 'zip'
        filename: 'tolk-${{ env.JOB_NAME }}-DEV.zip'
        path: 'install/*'

    - name: Delete old Dev Release assets
      uses: mknejp/delete-release-assets@v1
      with:
        token: ${{ github.token }}
        tag: dev-latest
        assets: '*'

    - name: Upload Dev Release
      uses: softprops/action-gh-release@v2
      with:
        prerelease: true
        tag_name: dev-latest
        files: |
          tolk-${{ env.JOB_NAME }}-DEV.zip
